<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.ss02</key>
    <string>A_.ss02.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>Be-cy.ss01</key>
    <string>B_e-cy.ss01.glif</string>
    <key>Be-cy.ss02</key>
    <string>B_e-cy.ss02.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ss02</key>
    <string>C_.ss02.glif</string>
    <key>Che-cy.ss01</key>
    <string>C_he-cy.ss01.glif</string>
    <key>Che-cy.ss02</key>
    <string>C_he-cy.ss02.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.ss01</key>
    <string>D_e-cy.ss01.glif</string>
    <key>De-cy.ss02</key>
    <string>D_e-cy.ss02.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.ss01</key>
    <string>E_f-cy.ss01.glif</string>
    <key>Ef-cy.ss02</key>
    <string>E_f-cy.ss02.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.ss01</key>
    <string>E_l-cy.ss01.glif</string>
    <key>El-cy.ss02</key>
    <string>E_l-cy.ss02.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss01</key>
    <string>G_.ss01.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Ge-cy.ss01</key>
    <string>G_e-cy.ss01.glif</string>
    <key>Ge-cy.ss02</key>
    <string>G_e-cy.ss02.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ia-cy.ss01</key>
    <string>I_a-cy.ss01.glif</string>
    <key>Ia-cy.ss02</key>
    <string>I_a-cy.ss02.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.ss01</key>
    <string>I_i-cy.ss01.glif</string>
    <key>Ii-cy.ss02</key>
    <string>I_i-cy.ss02.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Iu-cy.ss01</key>
    <string>I_u-cy.ss01.glif</string>
    <key>Iu-cy.ss02</key>
    <string>I_u-cy.ss02.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>M.ss02</key>
    <string>M_.ss02.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.ss02</key>
    <string>O_.ss02.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pe-cy.ss01</key>
    <string>P_e-cy.ss01.glif</string>
    <key>Pe-cy.ss02</key>
    <string>P_e-cy.ss02.glif</string>
    <key>Q.ss01</key>
    <string>Q_.ss01.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.ss01</key>
    <string>R_.ss01.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ss01</key>
    <string>S_.ss01.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Sha-cy.ss01</key>
    <string>S_ha-cy.ss01.glif</string>
    <key>Sha-cy.ss02</key>
    <string>S_ha-cy.ss02.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shcha-cy.ss01</key>
    <string>S_hcha-cy.ss01.glif</string>
    <key>Shcha-cy.ss02</key>
    <string>S_hcha-cy.ss02.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Softsign-cy.ss01</key>
    <string>S_oftsign-cy.ss01.glif</string>
    <key>Softsign-cy.ss02</key>
    <string>S_oftsign-cy.ss02.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tse-cy.ss01</key>
    <string>T_se-cy.ss01.glif</string>
    <key>Tse-cy.ss02</key>
    <string>T_se-cy.ss02.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>U-cy.ss01</key>
    <string>U_-cy.ss01.glif</string>
    <key>U-cy.ss02</key>
    <string>U_-cy.ss02.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss02</key>
    <string>Y_.ss02.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Ze-cy.ss01</key>
    <string>Z_e-cy.ss01.glif</string>
    <key>Ze-cy.ss02</key>
    <string>Z_e-cy.ss02.glif</string>
    <key>Zedieresis-cy</key>
    <string>Z_edieresis-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhe-cy.ss01</key>
    <string>Z_he-cy.ss01.glif</string>
    <key>Zhe-cy.ss02</key>
    <string>Z_he-cy.ss02.glif</string>
    <key>__descender-cy</key>
    <string>__descender-cy.glif</string>
    <key>__descender-cy.alt</key>
    <string>__descender-cy.alt.glif</string>
    <key>__descender-cy.alt2</key>
    <string>__descender-cy.alt2.glif</string>
    <key>__descender-cy.case</key>
    <string>__descender-cy.case.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.cap</key>
    <string>acute.cap.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>apostrophe</key>
    <string>apostrophe.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.ss01</key>
    <string>be-cy.ss01.glif</string>
    <key>be-cy.ss02</key>
    <string>be-cy.ss02.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron.cap</key>
    <string>caron.cap.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>che-cy.ss01</key>
    <string>che-cy.ss01.glif</string>
    <key>che-cy.ss02</key>
    <string>che-cy.ss02.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflex.cap</key>
    <string>circumflex.cap.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.ss01</key>
    <string>de-cy.ss01.glif</string>
    <key>de-cy.ss02</key>
    <string>de-cy.ss02.glif</string>
    <key>dieresis.cap</key>
    <string>dieresis.cap.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent.cap</key>
    <string>dotaccent.cap.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>ef-cy.ss01</key>
    <string>ef-cy.ss01.glif</string>
    <key>ef-cy.ss02</key>
    <string>ef-cy.ss02.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>el-cy.ss01</key>
    <string>el-cy.ss01.glif</string>
    <key>el-cy.ss02</key>
    <string>el-cy.ss02.glif</string>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>em-cy.ss01</key>
    <string>em-cy.ss01.glif</string>
    <key>em-cy.ss02</key>
    <string>em-cy.ss02.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>en-cy.ss01</key>
    <string>en-cy.ss01.glif</string>
    <key>en-cy.ss02</key>
    <string>en-cy.ss02.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>g.ss02</key>
    <string>g.ss02.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ge-cy.ss01</key>
    <string>ge-cy.ss01.glif</string>
    <key>ge-cy.ss02</key>
    <string>ge-cy.ss02.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.cap</key>
    <string>grave.cap.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hook-cy</key>
    <string>hook-cy.glif</string>
    <key>hook-cy.case</key>
    <string>hook-cy.case.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut.cap</key>
    <string>hungarumlaut.cap.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ia-cy.ss01</key>
    <string>ia-cy.ss01.glif</string>
    <key>ia-cy.ss02</key>
    <string>ia-cy.ss02.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>idblgrave</key>
    <string>idblgrave.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ii-cy.ss01</key>
    <string>ii-cy.ss01.glif</string>
    <key>ii-cy.ss02</key>
    <string>ii-cy.ss02.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.ss01</key>
    <string>iu-cy.ss01.glif</string>
    <key>iu-cy.ss02</key>
    <string>iu-cy.ss02.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j.ss01</key>
    <string>j.ss01.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>ka-cy.ss01</key>
    <string>ka-cy.ss01.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>macron.cap</key>
    <string>macron.cap.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ss01</key>
    <string>n.ss01.glif</string>
    <key>n.ss02</key>
    <string>n.ss02.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>one.denominator</key>
    <string>one.denominator.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>pe-cy.ss01</key>
    <string>pe-cy.ss01.glif</string>
    <key>pe-cy.ss02</key>
    <string>pe-cy.ss02.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>ring.cap</key>
    <string>ring.cap.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.ss01</key>
    <string>s.ss01.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sha-cy.ss01</key>
    <string>sha-cy.ss01.glif</string>
    <key>sha-cy.ss02</key>
    <string>sha-cy.ss02.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>shcha-cy.ss01</key>
    <string>shcha-cy.ss01.glif</string>
    <key>shcha-cy.ss02</key>
    <string>shcha-cy.ss02.glif</string>
    <key>shhadescender-cy</key>
    <string>shhadescender-cy.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>softsign-cy.ss01</key>
    <string>softsign-cy.ss01.glif</string>
    <key>softsign-cy.ss02</key>
    <string>softsign-cy.ss02.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tetse-cy</key>
    <string>tetse-cy.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tilde.cap</key>
    <string>tilde.cap.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tse-cy.ss01</key>
    <string>tse-cy.ss01.glif</string>
    <key>tse-cy.ss02</key>
    <string>tse-cy.ss02.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni01C7</key>
    <string>uni01C_7.glif</string>
    <key>uni01C9</key>
    <string>uni01C_9.glif</string>
    <key>uni01CA</key>
    <string>uni01C_A_.glif</string>
    <key>uni01CC</key>
    <string>uni01C_C_.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni20A6</key>
    <string>uni20A_6.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>ve-cy.ss01</key>
    <string>ve-cy.ss01.glif</string>
    <key>ve-cy.ss02</key>
    <string>ve-cy.ss02.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.ss01</key>
    <string>ze-cy.ss01.glif</string>
    <key>ze-cy.ss02</key>
    <string>ze-cy.ss02.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.ss01</key>
    <string>zhe-cy.ss01.glif</string>
    <key>zhe-cy.ss02</key>
    <string>zhe-cy.ss02.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
