<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A-cy</key>
    <array/>
    <key>public.kern1.C-cy</key>
    <array/>
    <key>public.kern1.Che-cy</key>
    <array>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Che-cy.ss01</string>
      <string>Che-cy.ss02</string>
    </array>
    <key>public.kern1.Cheabkhasian-cy</key>
    <array/>
    <key>public.kern1.E-cy</key>
    <array/>
    <key>public.kern1.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Elhook-cy</string>
      <string>El-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern1.Em-cy</key>
    <array/>
    <key>public.kern1.Erev-cy</key>
    <array>
      <string>Ereversed-cy</string>
    </array>
    <key>public.kern1.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Gestrokehook-cy</string>
      <string>Ge-cy.ss01</string>
      <string>Ge-cy.ss02</string>
    </array>
    <key>public.kern1.H-cy</key>
    <array>
      <string>En-cy</string>
      <string>Enhook-cy</string>
      <string>EnLeftHook-cy</string>
    </array>
    <key>public.kern1.I-cy</key>
    <array/>
    <key>public.kern1.Ii-cy</key>
    <array>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Ii-cy.ss01</string>
      <string>Ii-cy.ss02</string>
    </array>
    <key>public.kern1.Ka-cy</key>
    <array>
      <string>Kaverticalstroke-cy</string>
      <string>Kastroke-cy</string>
      <string>Kahook-cy</string>
    </array>
    <key>public.kern1.O-cy</key>
    <array/>
    <key>public.kern1.P-cy</key>
    <array>
      <string>Ertick-cy</string>
    </array>
    <key>public.kern1.Soft-cy</key>
    <array>
      <string>Softsign-cy</string>
      <string>Softsign-cy.ss01</string>
      <string>Softsign-cy.ss02</string>
    </array>
    <key>public.kern1.T-cy</key>
    <array/>
    <key>public.kern1.Tse-cy</key>
    <array/>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>U-cy.ss01</string>
      <string>U-cy.ss02</string>
    </array>
    <key>public.kern1.X-cy</key>
    <array/>
    <key>public.kern1.Y-cy</key>
    <array/>
    <key>public.kern1.Yeru-cy</key>
    <array>
      <string>Yeru-cy</string>
    </array>
    <key>public.kern1.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Zedieresis-cy</string>
      <string>Dzeabkhasian-cy</string>
      <string>Ze-cy.ss01</string>
      <string>Ze-cy.ss02</string>
    </array>
    <key>public.kern1.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
      <string>Zhe-cy.ss01</string>
      <string>Zhe-cy.ss02</string>
    </array>
    <key>public.kern1.a-cy</key>
    <array/>
    <key>public.kern1.c-cy</key>
    <array>
      <string>e-cy</string>
    </array>
    <key>public.kern1.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>che-cy.ss01</string>
      <string>che-cy.ss02</string>
    </array>
    <key>public.kern1.cheabkhasian-cy</key>
    <array/>
    <key>public.kern1.e-cy</key>
    <array/>
    <key>public.kern1.en-cy</key>
    <array>
      <string>en-cy</string>
      <string>enhook-cy</string>
      <string>enlefthook-cy</string>
      <string>en-cy.ss01</string>
      <string>en-cy.ss02</string>
    </array>
    <key>public.kern1.erev-cy</key>
    <array>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern1.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>enghe-cy</string>
      <string>gestrokehook-cy</string>
      <string>ge-cy.ss01</string>
      <string>ge-cy.ss02</string>
    </array>
    <key>public.kern1.h-cy</key>
    <array>
      <string>shhadescender-cy</string>
    </array>
    <key>public.kern1.ii-cy</key>
    <array>
      <string>ii-cy.ss01</string>
      <string>ii-cy.ss02</string>
    </array>
    <key>public.kern1.ka-cy</key>
    <array>
      <string>ka-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kastroke-cy</string>
      <string>kabashkir-cy</string>
      <string>kahook-cy</string>
      <string>ka-cy.ss01</string>
    </array>
    <key>public.kern1.o-cy</key>
    <array>
      <string>fita-cy</string>
      <string>schwa-cy</string>
    </array>
    <key>public.kern1.p-cy</key>
    <array/>
    <key>public.kern1.soft-cy</key>
    <array>
      <string>softsign-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>yat-cy</string>
      <string>semisoftsign-cy</string>
      <string>softsign-cy.ss01</string>
      <string>softsign-cy.ss02</string>
    </array>
    <key>public.kern1.tse-cy</key>
    <array>
      <string>endescender-cy</string>
      <string>tetse-cy</string>
    </array>
    <key>public.kern1.ustrait-cy</key>
    <array>
      <string>ustrait-cy</string>
    </array>
    <key>public.kern1.x-cy</key>
    <array>
      <string>hadescender-cy</string>
    </array>
    <key>public.kern1.y-cy</key>
    <array/>
    <key>public.kern1.yeru-cy</key>
    <array>
      <string>yeru-cy</string>
    </array>
    <key>public.kern1.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>dzeabkhasian-cy</string>
      <string>ze-cy.ss01</string>
      <string>ze-cy.ss02</string>
    </array>
    <key>public.kern1.zhe-cy</key>
    <array>
      <string>zhe-cy</string>
      <string>zhe-cy.ss01</string>
      <string>zhe-cy.ss02</string>
    </array>
    <key>public.kern2.A-cy</key>
    <array/>
    <key>public.kern2.C-cy</key>
    <array/>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Che-cy.ss01</string>
      <string>Che-cy.ss02</string>
    </array>
    <key>public.kern2.Cheabkhasian-cy</key>
    <array/>
    <key>public.kern2.E-cy</key>
    <array/>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Elhook-cy</string>
      <string>El-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern2.Erev-cy</key>
    <array>
      <string>Ereversed-cy</string>
    </array>
    <key>public.kern2.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Ge-cy.ss01</string>
      <string>Ge-cy.ss02</string>
    </array>
    <key>public.kern2.H-cy</key>
    <array>
      <string>En-cy</string>
      <string>Ghemiddlehook-cy</string>
      <string>Shha-cy</string>
      <string>Enhook-cy</string>
    </array>
    <key>public.kern2.I-cy</key>
    <array/>
    <key>public.kern2.Ii-cy</key>
    <array>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Ii-cy.ss01</string>
      <string>Ii-cy.ss02</string>
    </array>
    <key>public.kern2.Ka-cy</key>
    <array>
      <string>Kaverticalstroke-cy</string>
      <string>Kahook-cy</string>
    </array>
    <key>public.kern2.M-cy</key>
    <array/>
    <key>public.kern2.O-cy</key>
    <array>
      <string>Haabkhasian-cy</string>
    </array>
    <key>public.kern2.P-cy</key>
    <array>
      <string>Ertick-cy</string>
    </array>
    <key>public.kern2.Schwa-cy</key>
    <array/>
    <key>public.kern2.T-cy</key>
    <array>
      <string>Tetse-cy</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>U-cy.ss01</string>
      <string>U-cy.ss02</string>
    </array>
    <key>public.kern2.V-cy</key>
    <array>
      <string>Izhitsa-cy</string>
    </array>
    <key>public.kern2.X-cy</key>
    <array>
      <string>Hadescender-cy</string>
      <string>Hahook-cy</string>
    </array>
    <key>public.kern2.Y-cy</key>
    <array/>
    <key>public.kern2.Yeru-cy</key>
    <array>
      <string>Yeru-cy</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Zedieresis-cy</string>
      <string>Dzeabkhasian-cy</string>
      <string>Ze-cy.ss01</string>
      <string>Ze-cy.ss02</string>
    </array>
    <key>public.kern2.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
      <string>Zhe-cy.ss01</string>
      <string>Zhe-cy.ss02</string>
    </array>
    <key>public.kern2.a-cy</key>
    <array/>
    <key>public.kern2.c-cy</key>
    <array/>
    <key>public.kern2.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>che-cy.ss01</string>
      <string>che-cy.ss02</string>
    </array>
    <key>public.kern2.cheabkhasian-cy</key>
    <array/>
    <key>public.kern2.e-cy</key>
    <array/>
    <key>public.kern2.el-cy</key>
    <array>
      <string>el-cy</string>
      <string>lje-cy</string>
      <string>elhook-cy</string>
      <string>el-cy.ss01</string>
      <string>el-cy.ss02</string>
    </array>
    <key>public.kern2.em-cy</key>
    <array>
      <string>em-cy</string>
      <string>em-cy.ss01</string>
      <string>em-cy.ss02</string>
    </array>
    <key>public.kern2.en-cy</key>
    <array>
      <string>en-cy</string>
      <string>nje-cy</string>
      <string>endescender-cy</string>
      <string>enghe-cy</string>
      <string>enhook-cy</string>
      <string>en-cy.ss01</string>
      <string>en-cy.ss02</string>
    </array>
    <key>public.kern2.erev-cy</key>
    <array>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern2.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>ghemiddlehook-cy</string>
      <string>ge-cy.ss01</string>
      <string>ge-cy.ss02</string>
    </array>
    <key>public.kern2.h-cy</key>
    <array>
      <string>shhadescender-cy</string>
    </array>
    <key>public.kern2.hardsign-cy</key>
    <array>
      <string>hardsign-cy</string>
      <string>tetse-cy</string>
    </array>
    <key>public.kern2.ii-cy</key>
    <array>
      <string>ii-cy.ss01</string>
      <string>ii-cy.ss02</string>
    </array>
    <key>public.kern2.ka-cy</key>
    <array>
      <string>ka-cy</string>
      <string>kadescender-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kahook-cy</string>
      <string>ka-cy.ss01</string>
    </array>
    <key>public.kern2.o-cy</key>
    <array>
      <string>e-cy</string>
      <string>fita-cy</string>
      <string>haabkhasian-cy</string>
      <string>schwa-cy</string>
    </array>
    <key>public.kern2.p-cy</key>
    <array/>
    <key>public.kern2.pe-cy</key>
    <array>
      <string>pe-cy</string>
      <string>pe-cy.ss01</string>
      <string>pe-cy.ss02</string>
    </array>
    <key>public.kern2.ustrait-cy</key>
    <array>
      <string>ustrait-cy</string>
    </array>
    <key>public.kern2.v-cy</key>
    <array>
      <string>izhitsa-cy</string>
    </array>
    <key>public.kern2.x-cy</key>
    <array>
      <string>hadescender-cy</string>
      <string>hahook-cy</string>
    </array>
    <key>public.kern2.y-cy</key>
    <array/>
    <key>public.kern2.yeru-cy</key>
    <array>
      <string>yeru-cy</string>
    </array>
    <key>public.kern2.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>dzeabkhasian-cy</string>
      <string>ze-cy.ss01</string>
      <string>ze-cy.ss02</string>
    </array>
    <key>public.kern2.zhe-cy</key>
    <array>
      <string>zhe-cy</string>
      <string>zhedescender-cy</string>
      <string>zhe-cy.ss01</string>
      <string>zhe-cy.ss02</string>
    </array>
  </dict>
</plist>
