<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array/>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.font.Use Line Breaks</key>
    <true/>
    <key>com.schriftgestaltung.font.Use Typo Metrics</key>
    <true/>
    <key>com.schriftgestaltung.font.license</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>com.schriftgestaltung.font.licenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>C211B134-F0DF-4134-92B2-996AB8C0D30E</key>
        <dict/>
      </dict>
    </dict>
    <key>com.schriftgestaltung.fontMaster.userData</key>
    <dict>
      <key>GSOffsetHorizontal</key>
      <integer>-12</integer>
      <key>GSOffsetVertical</key>
      <integer>-12</integer>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>5B238DC5-4F6F-4A74-B879-7A3E5189648B</string>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>G</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>W</string>
      <string>Y</string>
      <string>Z</string>
      <string>AE</string>
      <string>Eth</string>
      <string>Oslash</string>
      <string>Dcroat</string>
      <string>OE</string>
      <string>uni01C7</string>
      <string>uni01CA</string>
      <string>Dje-cy</string>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
      <string>Tshe-cy</string>
      <string>Dzhe-cy</string>
      <string>Be-cy</string>
      <string>Ge-cy</string>
      <string>De-cy</string>
      <string>Zhe-cy</string>
      <string>Ze-cy</string>
      <string>Zedieresis-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>El-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>U-cy</string>
      <string>Ef-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Hardsign-cy</string>
      <string>Yeru-cy</string>
      <string>Softsign-cy</string>
      <string>Ereversed-cy</string>
      <string>Iu-cy</string>
      <string>Ia-cy</string>
      <string>Yusbig-cy</string>
      <string>Izhitsa-cy</string>
      <string>Ertick-cy</string>
      <string>Gheupturn-cy</string>
      <string>Ghemiddlehook-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Kastroke-cy</string>
      <string>Haabkhasian-cy</string>
      <string>Hadescender-cy</string>
      <string>Tetse-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Shha-cy</string>
      <string>Kahook-cy</string>
      <string>Enhook-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Dzeabkhasian-cy</string>
      <string>Gestrokehook-cy</string>
      <string>Hahook-cy</string>
      <string>Reversedze-cy</string>
      <string>Elhook-cy</string>
      <string>EnLeftHook-cy</string>
      <string>mu</string>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>idieresis</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>idblgrave</string>
      <string>iinvertedbreve</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>w</string>
      <string>y</string>
      <string>z</string>
      <string>ae</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>thorn</string>
      <string>dotlessi</string>
      <string>kgreenlandic</string>
      <string>oe</string>
      <string>uni01C9</string>
      <string>uni01CC</string>
      <string>dotlessj</string>
      <string>uni03BC</string>
      <string>be-cy</string>
      <string>ve-cy</string>
      <string>ge-cy</string>
      <string>de-cy</string>
      <string>zhe-cy</string>
      <string>ze-cy</string>
      <string>ka-cy</string>
      <string>el-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>ef-cy</string>
      <string>tse-cy</string>
      <string>che-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>hardsign-cy</string>
      <string>yeru-cy</string>
      <string>softsign-cy</string>
      <string>ereversed-cy</string>
      <string>iu-cy</string>
      <string>ia-cy</string>
      <string>dje-cy</string>
      <string>e-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>tshe-cy</string>
      <string>yat-cy</string>
      <string>yusbig-cy</string>
      <string>fita-cy</string>
      <string>izhitsa-cy</string>
      <string>semisoftsign-cy</string>
      <string>ghemiddlehook-cy</string>
      <string>zhedescender-cy</string>
      <string>zedescender-cy</string>
      <string>kadescender-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kastroke-cy</string>
      <string>kabashkir-cy</string>
      <string>endescender-cy</string>
      <string>enghe-cy</string>
      <string>haabkhasian-cy</string>
      <string>tedescender-cy</string>
      <string>ustrait-cy</string>
      <string>hadescender-cy</string>
      <string>tetse-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>kahook-cy</string>
      <string>enhook-cy</string>
      <string>schwa-cy</string>
      <string>dzeabkhasian-cy</string>
      <string>gestrokehook-cy</string>
      <string>hahook-cy</string>
      <string>reversedze-cy</string>
      <string>elhook-cy</string>
      <string>shhadescender-cy</string>
      <string>enlefthook-cy</string>
      <string>apostrophe</string>
      <string>ordfeminine</string>
      <string>four</string>
      <string>onesuperior</string>
      <string>ninesuperior</string>
      <string>oneinferior</string>
      <string>numero</string>
      <string>periodcentered</string>
      <string>minute</string>
      <string>dollar</string>
      <string>colonmonetary</string>
      <string>franc</string>
      <string>uni20A6</string>
      <string>uni20A9</string>
      <string>hryvnia</string>
      <string>tenge</string>
      <string>rupeeIndian</string>
      <string>asciitilde</string>
      <string>acute</string>
      <string>grave</string>
      <string>trademark</string>
      <string>brevecomb-cy</string>
      <string>dotbelow</string>
      <string>hook-cy</string>
      <string>tail-cy</string>
      <string>f_i</string>
      <string>f_f_i</string>
      <string>__descender-cy</string>
      <string>__descender-cy.alt2</string>
      <string>dblgravecomb.case</string>
      <string>breveinvertedcomb.case</string>
      <string>brevecomb-cy.case</string>
      <string>hook-cy.case</string>
      <string>tail-cy.case</string>
      <string>__descender-cy.case</string>
      <string>__descender-cy.alt</string>
      <string>acute.cap</string>
      <string>grave.cap</string>
      <string>hungarumlaut.cap</string>
      <string>circumflex.cap</string>
      <string>caron.cap</string>
      <string>tilde.cap</string>
      <string>macron.cap</string>
      <string>dieresis.cap</string>
      <string>dotaccent.cap</string>
      <string>ring.cap</string>
      <string>one.numerator</string>
      <string>one.denominator</string>
      <string>G.ss01</string>
      <string>M.ss01</string>
      <string>N.ss01</string>
      <string>Q.ss01</string>
      <string>R.ss01</string>
      <string>S.ss01</string>
      <string>Be-cy.ss01</string>
      <string>Ge-cy.ss01</string>
      <string>De-cy.ss01</string>
      <string>Zhe-cy.ss01</string>
      <string>Ze-cy.ss01</string>
      <string>Ii-cy.ss01</string>
      <string>El-cy.ss01</string>
      <string>Pe-cy.ss01</string>
      <string>U-cy.ss01</string>
      <string>Ef-cy.ss01</string>
      <string>Tse-cy.ss01</string>
      <string>Che-cy.ss01</string>
      <string>Sha-cy.ss01</string>
      <string>Shcha-cy.ss01</string>
      <string>Softsign-cy.ss01</string>
      <string>Iu-cy.ss01</string>
      <string>Ia-cy.ss01</string>
      <string>d.ss01</string>
      <string>e.ss01</string>
      <string>g.ss01</string>
      <string>j.ss01</string>
      <string>m.ss01</string>
      <string>n.ss01</string>
      <string>s.ss01</string>
      <string>be-cy.ss01</string>
      <string>ve-cy.ss01</string>
      <string>ge-cy.ss01</string>
      <string>de-cy.ss01</string>
      <string>zhe-cy.ss01</string>
      <string>ze-cy.ss01</string>
      <string>ii-cy.ss01</string>
      <string>ka-cy.ss01</string>
      <string>el-cy.ss01</string>
      <string>em-cy.ss01</string>
      <string>en-cy.ss01</string>
      <string>pe-cy.ss01</string>
      <string>ef-cy.ss01</string>
      <string>tse-cy.ss01</string>
      <string>che-cy.ss01</string>
      <string>sha-cy.ss01</string>
      <string>shcha-cy.ss01</string>
      <string>softsign-cy.ss01</string>
      <string>iu-cy.ss01</string>
      <string>ia-cy.ss01</string>
      <string>A.ss02</string>
      <string>C.ss02</string>
      <string>M.ss02</string>
      <string>O.ss02</string>
      <string>Y.ss02</string>
      <string>Be-cy.ss02</string>
      <string>Ge-cy.ss02</string>
      <string>De-cy.ss02</string>
      <string>Zhe-cy.ss02</string>
      <string>Ze-cy.ss02</string>
      <string>Ii-cy.ss02</string>
      <string>El-cy.ss02</string>
      <string>Pe-cy.ss02</string>
      <string>U-cy.ss02</string>
      <string>Ef-cy.ss02</string>
      <string>Tse-cy.ss02</string>
      <string>Che-cy.ss02</string>
      <string>Sha-cy.ss02</string>
      <string>Shcha-cy.ss02</string>
      <string>Softsign-cy.ss02</string>
      <string>Iu-cy.ss02</string>
      <string>Ia-cy.ss02</string>
      <string>g.ss02</string>
      <string>n.ss02</string>
      <string>be-cy.ss02</string>
      <string>ve-cy.ss02</string>
      <string>ge-cy.ss02</string>
      <string>de-cy.ss02</string>
      <string>zhe-cy.ss02</string>
      <string>ze-cy.ss02</string>
      <string>ii-cy.ss02</string>
      <string>el-cy.ss02</string>
      <string>em-cy.ss02</string>
      <string>en-cy.ss02</string>
      <string>pe-cy.ss02</string>
      <string>ef-cy.ss02</string>
      <string>tse-cy.ss02</string>
      <string>che-cy.ss02</string>
      <string>sha-cy.ss02</string>
      <string>shcha-cy.ss02</string>
      <string>softsign-cy.ss02</string>
      <string>iu-cy.ss02</string>
      <string>ia-cy.ss02</string>
    </array>
  </dict>
</plist>
