<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A-cy</key>
    <array>
      <string>A-cy</string>
      <string>Abreve-cy</string>
      <string>Adieresis-cy</string>
      <string>A-cy.ss01</string>
      <string>A-cy.ss02</string>
    </array>
    <key>public.kern1.C-cy</key>
    <array>
      <string>Es-cy</string>
      <string>Esdescender-cy</string>
      <string>Es-cy.ss01</string>
      <string>Es-cy.ss02</string>
    </array>
    <key>public.kern1.Che-cy</key>
    <array>
      <string>Che-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Chedieresis-cy</string>
      <string>Che-cy.ss01</string>
      <string>Che-cy.ss02</string>
    </array>
    <key>public.kern1.Cheabkhasian-cy</key>
    <array>
      <string>Cheabkhasian-cy</string>
      <string>Chedescenderabkhasian-cy</string>
    </array>
    <key>public.kern1.E-cy</key>
    <array>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Aie-cy</string>
      <string>Iebreve-cy</string>
      <string>Ie-cy.ss01</string>
      <string>Ie-cy.ss02</string>
    </array>
    <key>public.kern1.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Elhook-cy</string>
      <string>El-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern1.Em-cy</key>
    <array>
      <string>Em-cy</string>
      <string>Em-cy.ss01</string>
      <string>Em-cy.ss02</string>
    </array>
    <key>public.kern1.Erev-cy</key>
    <array>
      <string>Ereversed-cy</string>
      <string>Edieresis-cy</string>
    </array>
    <key>public.kern1.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Enghe-cy</string>
      <string>Gedescender-cy</string>
      <string>Gestrokehook-cy</string>
      <string>Ge-cy.ss01</string>
      <string>Ge-cy.ss02</string>
    </array>
    <key>public.kern1.H-cy</key>
    <array>
      <string>En-cy</string>
      <string>Enhook-cy</string>
      <string>EnLeftHook-cy</string>
      <string>En-cy.ss01</string>
      <string>En-cy.ss02</string>
    </array>
    <key>public.kern1.I-cy</key>
    <array>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Palochka-cy</string>
    </array>
    <key>public.kern1.Ii-cy</key>
    <array>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Imacron-cy</string>
      <string>Idieresis-cy</string>
      <string>Ii-cy.ss01</string>
      <string>Ii-cy.ss02</string>
    </array>
    <key>public.kern1.Ka-cy</key>
    <array>
      <string>Ka-cy</string>
      <string>Kadescender-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Kastroke-cy</string>
      <string>Kabashkir-cy</string>
      <string>Kahook-cy</string>
      <string>Ka-cy.ss01</string>
      <string>Ka-cy.ss02</string>
    </array>
    <key>public.kern1.O-cy</key>
    <array>
      <string>O-cy</string>
      <string>Fita-cy</string>
      <string>Schwa-cy</string>
      <string>Schwadieresis-cy</string>
      <string>Odieresis-cy</string>
      <string>Obarred-cy</string>
      <string>O-cy.ss01</string>
      <string>O-cy.ss02</string>
    </array>
    <key>public.kern1.P-cy</key>
    <array>
      <string>Er-cy</string>
      <string>Ertick-cy</string>
      <string>Er-cy.ss01</string>
      <string>Er-cy.ss02</string>
    </array>
    <key>public.kern1.Soft-cy</key>
    <array>
      <string>Softsign-cy</string>
      <string>Yat-cy</string>
      <string>Semisoftsign-cy</string>
      <string>Softsign-cy.ss01</string>
      <string>Softsign-cy.ss02</string>
    </array>
    <key>public.kern1.T-cy</key>
    <array>
      <string>Te-cy</string>
      <string>Tedescender-cy</string>
      <string>Te-cy.ss01</string>
      <string>Te-cy.ss02</string>
    </array>
    <key>public.kern1.Tse-cy</key>
    <array>
      <string>Iishorttail-cy</string>
      <string>Endescender-cy</string>
      <string>Pedescender-cy</string>
      <string>Chedescender-cy</string>
      <string>Shhadescender-cy</string>
      <string>Eltail-cy</string>
      <string>Entail-cy</string>
      <string>Eldescender-cy</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
      <string>Umacron-cy</string>
      <string>Udieresis-cy</string>
      <string>Uhungarumlaut-cy</string>
      <string>U-cy.ss01</string>
      <string>U-cy.ss02</string>
    </array>
    <key>public.kern1.X-cy</key>
    <array>
      <string>Ha-cy</string>
      <string>Hastroke-cy</string>
      <string>Ha-cy.ss01</string>
      <string>Ha-cy.ss02</string>
    </array>
    <key>public.kern1.Y-cy</key>
    <array>
      <string>Ustrait-cy</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern1.Yeru-cy</key>
    <array>
      <string>Yeru-cy</string>
      <string>Yerudieresis-cy</string>
    </array>
    <key>public.kern1.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Zedescender-cy</string>
      <string>Zedieresis-cy</string>
      <string>Dzeabkhasian-cy</string>
      <string>Ze-cy.ss01</string>
      <string>Ze-cy.ss02</string>
    </array>
    <key>public.kern1.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
      <string>Zhebreve-cy</string>
      <string>Zhedieresis-cy</string>
      <string>Zhe-cy.ss01</string>
      <string>Zhe-cy.ss02</string>
    </array>
    <key>public.kern1.a-cy</key>
    <array>
      <string>a-cy</string>
      <string>abreve-cy</string>
      <string>adieresis-cy</string>
      <string>a-cy.ss01</string>
      <string>a-cy.ss02</string>
    </array>
    <key>public.kern1.c-cy</key>
    <array>
      <string>es-cy</string>
      <string>e-cy</string>
      <string>esdescender-cy</string>
      <string>es-cy.ss01</string>
      <string>es-cy.ss02</string>
    </array>
    <key>public.kern1.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>chedescender-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>chekhakassian-cy</string>
      <string>chedieresis-cy</string>
      <string>che-cy.ss01</string>
      <string>che-cy.ss02</string>
    </array>
    <key>public.kern1.cheabkhasian-cy</key>
    <array>
      <string>cheabkhasian-cy</string>
      <string>chedescenderabkhasian-cy</string>
    </array>
    <key>public.kern1.e-cy</key>
    <array>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
      <string>aie-cy</string>
      <string>iebreve-cy</string>
      <string>ie-cy.ss01</string>
      <string>ie-cy.ss02</string>
    </array>
    <key>public.kern1.en-cy</key>
    <array>
      <string>en-cy</string>
      <string>enhook-cy</string>
      <string>enlefthook-cy</string>
      <string>en-cy.ss01</string>
      <string>en-cy.ss02</string>
    </array>
    <key>public.kern1.erev-cy</key>
    <array>
      <string>ereversed-cy</string>
      <string>edieresis-cy</string>
    </array>
    <key>public.kern1.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
      <string>ghestroke-cy</string>
      <string>enghe-cy</string>
      <string>gedescender-cy</string>
      <string>gestrokehook-cy</string>
      <string>ge-cy.ss01</string>
      <string>ge-cy.ss02</string>
    </array>
    <key>public.kern1.h-cy</key>
    <array>
      <string>shha-cy</string>
      <string>shhadescender-cy</string>
    </array>
    <key>public.kern1.ii-cy</key>
    <array>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>iishorttail-cy</string>
      <string>imacron-cy</string>
      <string>idieresis-cy</string>
      <string>ii-cy.ss01</string>
      <string>ii-cy.ss02</string>
    </array>
    <key>public.kern1.ka-cy</key>
    <array>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kastroke-cy</string>
      <string>kabashkir-cy</string>
      <string>kahook-cy</string>
      <string>ka-cy.ss01</string>
      <string>ka-cy.ss02</string>
    </array>
    <key>public.kern1.o-cy</key>
    <array>
      <string>o-cy</string>
      <string>fita-cy</string>
      <string>schwa-cy</string>
      <string>schwadieresis-cy</string>
      <string>odieresis-cy</string>
      <string>obarred-cy</string>
      <string>obarreddieresis-cy</string>
      <string>o-cy.ss01</string>
      <string>o-cy.ss02</string>
    </array>
    <key>public.kern1.p-cy</key>
    <array>
      <string>er-cy</string>
      <string>ertick-cy</string>
      <string>er-cy.ss01</string>
      <string>er-cy.ss02</string>
    </array>
    <key>public.kern1.soft-cy</key>
    <array>
      <string>softsign-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>yat-cy</string>
      <string>semisoftsign-cy</string>
      <string>softsign-cy.ss01</string>
      <string>softsign-cy.ss02</string>
    </array>
    <key>public.kern1.tse-cy</key>
    <array>
      <string>endescender-cy</string>
      <string>pedescender-cy</string>
      <string>tetse-cy</string>
      <string>eldescender-cy</string>
    </array>
    <key>public.kern1.ustrait-cy</key>
    <array>
      <string>ustrait-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern1.x-cy</key>
    <array>
      <string>ha-cy</string>
      <string>hadescender-cy</string>
      <string>hastroke-cy</string>
      <string>ha-cy.ss01</string>
      <string>ha-cy.ss02</string>
    </array>
    <key>public.kern1.y-cy</key>
    <array>
      <string>u-cy</string>
      <string>ushort-cy</string>
      <string>umacron-cy</string>
      <string>udieresis-cy</string>
      <string>uhungarumlaut-cy</string>
      <string>u-cy.ss01</string>
      <string>u-cy.ss02</string>
    </array>
    <key>public.kern1.yeru-cy</key>
    <array>
      <string>yeru-cy</string>
      <string>yerudieresis-cy</string>
    </array>
    <key>public.kern1.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>zedieresis-cy</string>
      <string>dzeabkhasian-cy</string>
      <string>ze-cy.ss01</string>
      <string>ze-cy.ss02</string>
    </array>
    <key>public.kern1.zhe-cy</key>
    <array>
      <string>zhe-cy</string>
      <string>zhebreve-cy</string>
      <string>zhedieresis-cy</string>
      <string>zhe-cy.ss01</string>
      <string>zhe-cy.ss02</string>
    </array>
    <key>public.kern2.A-cy</key>
    <array>
      <string>A-cy</string>
      <string>Abreve-cy</string>
      <string>Adieresis-cy</string>
      <string>Aie-cy</string>
      <string>A-cy.ss01</string>
      <string>A-cy.ss02</string>
    </array>
    <key>public.kern2.C-cy</key>
    <array>
      <string>Es-cy</string>
      <string>Esdescender-cy</string>
      <string>Es-cy.ss01</string>
      <string>Es-cy.ss02</string>
    </array>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Che-cy</string>
      <string>Chedescender-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Chedieresis-cy</string>
      <string>Che-cy.ss01</string>
      <string>Che-cy.ss02</string>
    </array>
    <key>public.kern2.Cheabkhasian-cy</key>
    <array>
      <string>Cheabkhasian-cy</string>
      <string>Chedescenderabkhasian-cy</string>
    </array>
    <key>public.kern2.E-cy</key>
    <array>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Iebreve-cy</string>
      <string>Ie-cy.ss01</string>
      <string>Ie-cy.ss02</string>
    </array>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Eltail-cy</string>
      <string>Elhook-cy</string>
      <string>Eldescender-cy</string>
      <string>El-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern2.Erev-cy</key>
    <array>
      <string>Ereversed-cy</string>
      <string>Edieresis-cy</string>
    </array>
    <key>public.kern2.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Gedescender-cy</string>
      <string>Ge-cy.ss01</string>
      <string>Ge-cy.ss02</string>
    </array>
    <key>public.kern2.H-cy</key>
    <array>
      <string>En-cy</string>
      <string>Ghemiddlehook-cy</string>
      <string>Endescender-cy</string>
      <string>Enghe-cy</string>
      <string>Pedescender-cy</string>
      <string>Shha-cy</string>
      <string>Shhadescender-cy</string>
      <string>Enhook-cy</string>
      <string>Entail-cy</string>
      <string>En-cy.ss01</string>
      <string>En-cy.ss02</string>
    </array>
    <key>public.kern2.I-cy</key>
    <array>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Palochka-cy</string>
    </array>
    <key>public.kern2.Ii-cy</key>
    <array>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Iishorttail-cy</string>
      <string>Imacron-cy</string>
      <string>Idieresis-cy</string>
      <string>Ii-cy.ss01</string>
      <string>Ii-cy.ss02</string>
    </array>
    <key>public.kern2.Ka-cy</key>
    <array>
      <string>Ka-cy</string>
      <string>Kadescender-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Kahook-cy</string>
      <string>Ka-cy.ss01</string>
      <string>Ka-cy.ss02</string>
    </array>
    <key>public.kern2.M-cy</key>
    <array>
      <string>Em-cy</string>
      <string>Emtail-cy</string>
      <string>Em-cy.ss01</string>
      <string>Em-cy.ss02</string>
    </array>
    <key>public.kern2.O-cy</key>
    <array>
      <string>O-cy</string>
      <string>Fita-cy</string>
      <string>Haabkhasian-cy</string>
      <string>Odieresis-cy</string>
      <string>Obarred-cy</string>
      <string>Qa-cy</string>
      <string>O-cy.ss01</string>
      <string>O-cy.ss02</string>
    </array>
    <key>public.kern2.P-cy</key>
    <array>
      <string>Er-cy</string>
      <string>Ertick-cy</string>
      <string>Er-cy.ss01</string>
      <string>Er-cy.ss02</string>
    </array>
    <key>public.kern2.Schwa-cy</key>
    <array>
      <string>Schwa-cy</string>
      <string>Schwadieresis-cy</string>
    </array>
    <key>public.kern2.T-cy</key>
    <array>
      <string>Te-cy</string>
      <string>Tedescender-cy</string>
      <string>Tetse-cy</string>
      <string>Te-cy.ss01</string>
      <string>Te-cy.ss02</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
      <string>Umacron-cy</string>
      <string>Udieresis-cy</string>
      <string>Uhungarumlaut-cy</string>
      <string>U-cy.ss01</string>
      <string>U-cy.ss02</string>
    </array>
    <key>public.kern2.V-cy</key>
    <array>
      <string>Izhitsa-cy</string>
      <string>We-cy</string>
    </array>
    <key>public.kern2.X-cy</key>
    <array>
      <string>Ha-cy</string>
      <string>Hadescender-cy</string>
      <string>Hahook-cy</string>
      <string>Hastroke-cy</string>
      <string>Ha-cy.ss01</string>
      <string>Ha-cy.ss02</string>
    </array>
    <key>public.kern2.Y-cy</key>
    <array>
      <string>Ustrait-cy</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern2.Yeru-cy</key>
    <array>
      <string>Yeru-cy</string>
      <string>Yerudieresis-cy</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Zedescender-cy</string>
      <string>Zedieresis-cy</string>
      <string>Dzeabkhasian-cy</string>
      <string>Ze-cy.ss01</string>
      <string>Ze-cy.ss02</string>
    </array>
    <key>public.kern2.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
      <string>Zhedescender-cy</string>
      <string>Zhebreve-cy</string>
      <string>Zhedieresis-cy</string>
      <string>Zhe-cy.ss01</string>
      <string>Zhe-cy.ss02</string>
    </array>
    <key>public.kern2.a-cy</key>
    <array>
      <string>a-cy</string>
      <string>abreve-cy</string>
      <string>adieresis-cy</string>
      <string>a-cy.ss01</string>
      <string>a-cy.ss02</string>
    </array>
    <key>public.kern2.c-cy</key>
    <array>
      <string>es-cy</string>
      <string>esdescender-cy</string>
      <string>es-cy.ss01</string>
      <string>es-cy.ss02</string>
    </array>
    <key>public.kern2.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>chedescender-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>chekhakassian-cy</string>
      <string>chedieresis-cy</string>
      <string>che-cy.ss01</string>
      <string>che-cy.ss02</string>
    </array>
    <key>public.kern2.cheabkhasian-cy</key>
    <array>
      <string>cheabkhasian-cy</string>
      <string>chedescenderabkhasian-cy</string>
    </array>
    <key>public.kern2.e-cy</key>
    <array>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
      <string>iebreve-cy</string>
      <string>ie-cy.ss01</string>
      <string>ie-cy.ss02</string>
    </array>
    <key>public.kern2.el-cy</key>
    <array>
      <string>el-cy</string>
      <string>lje-cy</string>
      <string>eltail-cy</string>
      <string>elhook-cy</string>
      <string>eldescender-cy</string>
      <string>el-cy.ss01</string>
      <string>el-cy.ss02</string>
    </array>
    <key>public.kern2.em-cy</key>
    <array>
      <string>em-cy</string>
      <string>emtail-cy</string>
      <string>em-cy.ss01</string>
      <string>em-cy.ss02</string>
    </array>
    <key>public.kern2.en-cy</key>
    <array>
      <string>en-cy</string>
      <string>nje-cy</string>
      <string>endescender-cy</string>
      <string>enghe-cy</string>
      <string>enhook-cy</string>
      <string>entail-cy</string>
      <string>en-cy.ss01</string>
      <string>en-cy.ss02</string>
    </array>
    <key>public.kern2.erev-cy</key>
    <array>
      <string>ereversed-cy</string>
      <string>edieresis-cy</string>
    </array>
    <key>public.kern2.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
      <string>ghemiddlehook-cy</string>
      <string>gedescender-cy</string>
      <string>ge-cy.ss01</string>
      <string>ge-cy.ss02</string>
    </array>
    <key>public.kern2.h-cy</key>
    <array>
      <string>shha-cy</string>
      <string>shhadescender-cy</string>
    </array>
    <key>public.kern2.hardsign-cy</key>
    <array>
      <string>hardsign-cy</string>
      <string>tetse-cy</string>
    </array>
    <key>public.kern2.ii-cy</key>
    <array>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>iishorttail-cy</string>
      <string>dzhe-cy</string>
      <string>imacron-cy</string>
      <string>idieresis-cy</string>
      <string>ii-cy.ss01</string>
      <string>ii-cy.ss02</string>
    </array>
    <key>public.kern2.ka-cy</key>
    <array>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>kadescender-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kahook-cy</string>
      <string>ka-cy.ss01</string>
      <string>ka-cy.ss02</string>
    </array>
    <key>public.kern2.o-cy</key>
    <array>
      <string>o-cy</string>
      <string>e-cy</string>
      <string>fita-cy</string>
      <string>haabkhasian-cy</string>
      <string>aie-cy</string>
      <string>schwa-cy</string>
      <string>schwadieresis-cy</string>
      <string>odieresis-cy</string>
      <string>obarred-cy</string>
      <string>obarreddieresis-cy</string>
      <string>qa-cy</string>
      <string>o-cy.ss01</string>
      <string>o-cy.ss02</string>
    </array>
    <key>public.kern2.p-cy</key>
    <array>
      <string>er-cy</string>
      <string>ertick-cy</string>
      <string>er-cy.ss01</string>
      <string>er-cy.ss02</string>
    </array>
    <key>public.kern2.pe-cy</key>
    <array>
      <string>pe-cy</string>
      <string>pedescender-cy</string>
      <string>pe-cy.ss01</string>
      <string>pe-cy.ss02</string>
    </array>
    <key>public.kern2.ustrait-cy</key>
    <array>
      <string>ustrait-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern2.v-cy</key>
    <array>
      <string>izhitsa-cy</string>
      <string>we-cy</string>
    </array>
    <key>public.kern2.x-cy</key>
    <array>
      <string>ha-cy</string>
      <string>hadescender-cy</string>
      <string>hahook-cy</string>
      <string>hastroke-cy</string>
      <string>ha-cy.ss01</string>
      <string>ha-cy.ss02</string>
    </array>
    <key>public.kern2.y-cy</key>
    <array>
      <string>u-cy</string>
      <string>ushort-cy</string>
      <string>umacron-cy</string>
      <string>udieresis-cy</string>
      <string>uhungarumlaut-cy</string>
      <string>u-cy.ss01</string>
      <string>u-cy.ss02</string>
    </array>
    <key>public.kern2.yeru-cy</key>
    <array>
      <string>yeru-cy</string>
      <string>yerudieresis-cy</string>
    </array>
    <key>public.kern2.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>zedieresis-cy</string>
      <string>dzeabkhasian-cy</string>
      <string>ze-cy.ss01</string>
      <string>ze-cy.ss02</string>
    </array>
    <key>public.kern2.zhe-cy</key>
    <array>
      <string>zhe-cy</string>
      <string>zhedescender-cy</string>
      <string>zhebreve-cy</string>
      <string>zhedieresis-cy</string>
      <string>zhe-cy.ss01</string>
      <string>zhe-cy.ss02</string>
    </array>
  </dict>
</plist>
